td{
    width: 30px;
    height: 30px;
    text-align: center;
    font:bold;
    

}

h1{
    width: 30%;
    background-color: chartreuse;
    border-radius: 360PX;
    color: darkmagenta;
    box-shadow: 12PX 5PX 10PX;
}
.number{
       line-height:5px;
       font-size: 80%;
       text-align: center;
       font-weight:bold;
}
.name{
    line-height:0px;
}
.row1{
    background-color: blueviolet;

}
.row2{
    background-color: yellow;
}
.row3{
    background-color: darkmagenta;
}
.last1{
    background-color: grey;
}
.col1{
    background-color: green;
}

.col2{
    background-color: red;
}
.col3{
    background-color:peru;
}
.col0{
    background-color:blue;
}
.col5{
    background-color: aqua;
}
    
